---
layout: default
description: Dhanya Personal Site Paintings Page
title: Paintings
id: paintings
frontpage: false
---

<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="images/pic04.jpg" alt="" />
							</span>
							<header class="major">
								<h1>Sketches and Paintings</h1>
							</header>
							<div class="content">
								<p>Self taught hobby 
								</p>
							</div>
						</div>
					</section>


<!-- Main -->
<div id="main" class="alt">
	
		<section id="one">
			<div class="inner">
				<header class="major">
					<h2>Ameture Gallery</h2>
				</header>
				<p>

				</p>
			</div>
		</section>
          
              <section class="gallery-block compact-gallery">
			<div class="container">
			   <div class="box alt">
				   
				<div class="row gtr-50 gtr-uniform">
					
					{% for image in site.static_files %}
						{% if image.path contains 'images/paintings' %}					
					               <div class="col-4"><span class="image fit">				       
							       <img src="{{ site.baseurl }}{{ image.path }}" alt="image" /></span>
					                </div>
							<!-- 
							 <span class="description">
								 
							    <span class="description-heading">{{ site.baseurl }}/images/paintings/desc/{{image.basename}}</span><br>
							    <span class="description-body">{{ image.basename}} </span>								
 							  </span>
							 -->   					
							
						{% endif %}
					{% endfor %}					
					
				</div>
				
			  </div>				
		     </div>
	     </section>
          
       
          </div>
