<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form method="post" action="https://formspree.io/f/cmdhanya@gmail.com">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Let's connect" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="mailto:cmdhanya@gmail.com">cmdhanya@gmail.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon alt fa-phone"></span>
										<h3>Phone</h3>
										<a href="tel:+91 98455 47005">(+91) 98455 47005</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon alt fa-home"></span>
										<h3>Address</h3>
										<span>Thrissur,Kerala<br>
										 Bangalore,Karnataka<br>
										India</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://github.com/dhanyacm" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/in/dhanyacm/" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
								<li><a href="https://www.facebook.com/dhanyacm" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="https://twitter.com/dhanyacm" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.instagram.com/dhanya.cm/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://in.pinterest.com/cmdhanya/" class="icon alt fa-pinterest"><span class="label">Pinterest</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Dhanya CM</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->


{% if page.id == "resume" %}	
<script src="https://code.jquery.com/jquery-3.5.0.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endif %}
			<script src="{{site.baseurl}}/js/jquery.scrolly.min.js"></script>
			<script src="{{site.baseurl}}/js/jquery.scrollex.min.js"></script>			
			<script src="{{site.baseurl}}/js/browser.min.js"></script>
			<script src="{{site.baseurl}}/js/breakpoints.min.js"></script>
			<script src="{{site.baseurl}}/js/util.js"></script>
			<script src="{{site.baseurl}}/js/main.js"></script>

		</script>


</body>
</html>
