<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dhanya CM | {{ page.title }}</title>
    		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Website of Dhanya CM">
		<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
	
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic&display=swap" rel="stylesheet">
	
		{% if page.id == "paintings" %} 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
    		<link rel="stylesheet" href="{{site.baseurl}}/css/compact-gallery.css">
		{% endif %}
	
		{% if page.id == "resume" %}		
          	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous">
		<link rel="stylesheet" href="{{site.baseurl}}/css/timeline.css">
		{% endif %}
	
		<link rel="stylesheet" href="{{site.baseurl}}/css/main.css" />
		<noscript><link rel="stylesheet" href="{{site.baseurl}}/css/noscript.css" /></noscript>
	
</head>

<body class="is-preload" id="{{ page.id }}">
	<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="index.html" class="logo"><strong>DHANYA CM</strong> <span>being me</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">Home</a></li>
							<li><a href="{{site.baseurl}}/aboutme.html">About Me</a></li>							
						</ul>
						<ul class="actions stacked">
							<li><a href="index.html#one" class="button primary fit">Get Started</a></li>
							<li><a href="index.html#contact" class="button fit">Contact Me</a></li>
						</ul>
					</nav>

				<!-- Banner -->
				{% if page.frontpage %}
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>Hi! I'm Dhanya</h1>
							</header>
							<div class="content">
								<p> Welcome to my world...</p>
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">Get Started</a></li>
								</ul>
							</div>
						</div>
					</section>			
			
				{% endif %}
