<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dhanya CM | {{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	
		{% if page.paintings %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
    		<link rel="stylesheet" href="{{site.baseurl}}/css/compact-gallery.css">
		{% endif %}
	
		<link rel="stylesheet" href="{{site.baseurl}}/css/main.css" />
		<noscript><link rel="stylesheet" href="{{site.baseurl}}/css/noscript.css" /></noscript>
	

	
</head>

<body class="is-preload" id="{{ page.id }}">
	<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="index.html" class="logo"><strong>DHANYA CM</strong> <span>being me</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">Home</a></li>
							<li><a href="{{site.baseurl}}/aboutme.html">About Me</a></li>							
						</ul>
						<ul class="actions stacked">
							<li><a href="index.html#one" class="button primary fit">Get Started</a></li>
							<li><a href="index.html#contact" class="button fit">Contact Me</a></li>
						</ul>
					</nav>

				<!-- Banner -->
				{% if page.frontpage %}
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>Hi! I'm Dhanya</h1>
							</header>
							<div class="content">
								<p> Welcome to my world...</p>
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">Get Started</a></li>
								</ul>
							</div>
						</div>
					</section>			
			
				{% endif %}
