<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dhanya CM | {{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{site.baseurl}}/css/main.css" />
		<noscript><link rel="stylesheet" href="{{site.baseurl}}/css/noscript.css" /></noscript>
</head>

<body class="is-preload" id="{{ page.id }}">
	<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="index.html" class="logo"><strong>DHANYA CM</strong> <span>being me</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">Home</a></li>
							<li><a href="aboutme.html">Landing</a></li>
							<li><a href="web-portfolio.html">Generic</a></li>
							<li><a href="elements.html">Elements</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button primary fit">Get Started</a></li>
							<li><a href="#" class="button fit">Log In</a></li>
						</ul>
					</nav>

				<!-- Banner -->
				{% if page.frontpage %}
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>Hi! I'm Dhanya</h1>
							</header>
							<div class="content">
								<p> Welcome to my world...</p>
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">Get Started</a></li>
								</ul>
							</div>
						</div>
					</section>
				
				{% else %}
				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="images/pic07.jpg" alt="" />
							</span>
							<header class="major">
								<h1>page.title</h1>
							</header>
							<div class="content">
								<p>Lorem ipsum dolor sit amet nullam consequat<br />
								sed veroeros. tempus adipiscing nulla.</p>
							</div>
						</div>
					</section>
				
				{% endif %}
